#root {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'reddit sans';
  width: 100%;
}

#articles {
  flex-grow: 3;
  flex-direction: row;
  gap: 1%;
  min-height: 80vh;
}

#categories {
  flex-grow: 1;
  border-radius: 20px;
  border: 1px #ff4500 solid;
}

main {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  gap: 1%;
  padding: 1%;
}