.article {
    background-color: none;
    gap: 10px;
    border-radius: 20px;
    border: 1px #ff4500 solid;
    margin: 1%;
    padding: 1%;
}

.article img {
    width: 80%;
}

.article h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin: 2%;
}

.article h2 {
    font-size: 1.5rem;
    padding: 1rem;
    color: #ff4500;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info img{
    height: 1rem;
    width: 1rem
}

.info span{
    display: flex;
}

@media screen and (min-width: 700px) and (max-width:900px) {
    .article h1 {
        font-size: 1.5rem;
    }

    .article h2 {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 600px) and (max-width:700px) {
    .article h1 {
        font-size: 1.2rem;
    }

    .article h2 {
        font-size: 0.9rem;
    }

    .article h3 {
        font-size: 0.8rem
    }
}

@media screen and (min-width: 0px) and (max-width:600px) {
    .article {
        width: 100%;
    }

    .article h1 {
        font-size: 1rem;
    }

    .article h2 {
        font-size: 0.75rem;
    }

    .article h3 {
        font-size: 0.6rem;
    }
}